<div *ngIf="truck">
    <h1>{{truck.name}}</h1>
    <p>Style: {{truck.style}}</p>
    <p>Description: {{truck.description}}</p>
    <p *ngIf="truck.avgreview != 0"> Average Rating: {{truck.avgreview}} </p>
    <p *ngIf="truck.avgreview == 0"> No Ratings Yet </p>
  
    <div class="scrollables">
      <div *ngFor="let r of truck.reviews">
        <hr>
        <p>Name: {{r.name}}</p>
        <p>Comment:</p>
        <p>{{r.comment}}</p>
        <p>Rating: {{r.rating}}</p>
      </div>
    </div>
  
    <div>
      <form (submit)="newRating(truck._id)">
        <div class ="form-group">
          <label for="newreview.name">Name: </label>
          <div>
            <input type="text" name="newreview.name" [(ngModel)]="newreview.name" />
            <p *ngIf="errors.name"> {{errors.name.message}}</p>
          </div>
        </div>
        <div class = "form-group">
         <label for="newreview.rating">Rating: </label>
          <p>
           <select name="newreview.rating" [(ngModel)]="newreview.rating">
             <option value="5">★★★★★</option>
             <option value="4">★★★★☆</option>
             <option value="3">★★★☆☆</option>
             <option value="2">★★☆☆☆</option>
             <option value="1">★☆☆☆☆</option>
           </select>
          </p>
        </div>
        <div class = "form-group">
         <label for="newreview.comment">Comment here: </label>
          <div>
           <textarea name="newreview.comment" [(ngModel)]="newreview.comment" cols=50 rows=5></textarea>
           <p *ngIf="errors.comment"> {{errors.comment.message}}</p>
          </div>
        </div>
         <input type="submit" value="Leave a review!" class="btn btn-success"/>
      </form>
    </div>
  </div>